/* iranian movies banner */
.imgBack {
    position: absolute;
    height: 280px;
    filter: brightness(0.4);
    border-radius: 15px;
    width: 97%;
    object-fit: cover;
    top: 0;
}

.img-back-sm {
    width: 100%;
    border-radius: 20px;
    filter: brightness(0.4);
    object-fit: cover;
    height: 300px;
}
.height-size{
    height: 310px;
}

.poster-back {
    position: absolute;
    height: 210px;
    border-radius: 20px;
    right: 20px;
    top: 9%;
    object-fit: cover;
}

.caption-movie {
    position: relative;
    color: white;

}

@media (max-width: 990px) {
    .caption-movie {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        direction: rtl;
        top: -160px;
    }
}

.Description {
    background-color: #ff18185b;
    color: white;
    padding: 3px;
    border-radius: 7px;
    margin: 2px;
    font-size: 12px;
}

.font-size {
    font-size: 13px;
}

/* iranian movies list */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.poster-size {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: filter 0.3s ease-in-out;
}

.image-container:hover .poster-size {
    filter: brightness(0.4);
}

.caption-poster {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 90%;
    padding: 10px;
}

.image-container:hover .caption-poster {
    opacity: 1;
}

.title-size {
    font-size: 13px;
}