
.filter-button{
    background-color:#f0f0f0 ;
    border-radius: 10px;
}
.filter-button:hover{
    background-color: #e7e7e7;
}


.filter-options {
    display: flex;
    width: 60px;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    height: 100px;
}

.filter-options:hover {
    background-color: #e0e0e0;
    height:100px;

}

.button-list{
    font-size:8px !important;
    padding: 10px;
    height:60px;
}

.active-button{
    background-color: #f0f0f0;
    border-radius: 10px;
}