*{
    font-family: Vazirmatn, sans-serif ;
    font-feature-settings: 'lnum' 0, 'tnum' 0;
}
body{
    background-color: #f5f5f5;
}
.custom-button{
    border: none;
}
.custom-button:hover{
    background-color: #F7F7F8;
}

.closeButton{
    position: relative;
    right: 90%;
}
.closeButton:hover{
    background-color: #F7F7F8;

}

.custom-input{
    border: none;
    background-color: #f5f5f5;
    font-size: 12px;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
    background-color: #f1efef;

  }
.fontsize {
    font-size: 14px;
    border: none;
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;

  }
  
  .fontsize:hover {
    background-color: #F7F7F8;
  }
  
  .fontsizeOnClick {
    font-weight: bold;
    background-color: #f1efef;
    padding: 5px;
    border-radius: 7px;
  }

  .pointer {
    cursor: pointer;
  }


  .cinema{
    font-size: 12px;
    margin: 4px;
  }

  .cinema:hover{
    border-radius: 45px;
    color: #ff4955;
    background-color: #fff7f8;
  }

  .custom-scrollbar {
    max-height: 300px;
    overflow-y: auto; 
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 3px solid #f1f1f1; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.click{
  border-bottom: 2px solid red;
}
.click:hover{
  border-bottom: 2px solid red;
  background-color: #f7f7f8;
}

.navbarButton{
    border: none;
    text-decoration: none;
}

@media (max-width: 760px) {
    .custom-width {
        width:100%;
    }
}

@media (max-width: 578px) {
    .custom-width {
        position: absolute;
        top: 10%;
    }
    .custom-width-input{
      width: 80%;
    }
}
